h1 {color:rgb(255, 145, 0);text-align: 2;}

p {
   color: coral; 
    text-align: center;}

    h2 {color: rgb(99, 23, 23);
    text-align: center;}

    body{
        background-color: blanchedalmond;
    }
/* usamos # para identificar o id */

    #paragrafo-footer{text-align:justify ;}